.container-donate {
  max-width: 90%;
  padding: 3rem 1rem;
}
.parent-img {
  width: 50%;
  display: flex;
}

.donate-img {
  width: 100%;
  height: 100%;
}

.donate-details {
  margin: 2rem;
  display: flex;
  /* align-items: center; */
  text-align: center;
  padding: 2rem;
}
.donate-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262628;
}

.donate-img-logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.donate-logo-name {
  text-align: center;
  font-family: TripBold-700;
  color: #262628;
  line-height: normal !important;
  margin-bottom: 0 !important;
}
.donateLogoImageContainer {
  border-radius: 50%;
  overflow: hidden;
  height: 2rem;
  width: 3rem;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-head {
  text-align: center;
  margin-top: 2rem;
}
.details-head h2 {
  margin: auto;
}
.btn-donate-details {
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
  font-size: medium;
  color: #4d4d4f;
}
.btn-donate-details .btn-donate {
  background-color: black;
  color: #fff;
  width: 8rem;
  height: 3rem;
  border-radius: 20rem;
  outline: none;
  border: 1px solid black;
  transition: 0.3s;
  font-weight: 600;
}
.btn-donate:hover {
  background-color: #333338;
}
