.reviews-component {
  background-color: #fff7e1;
  margin: 12rem 0 6.4rem;
  padding: 3rem 0;
}
.reviews-component .counting-number {
  font-weight: bolder;
  font-size: 3rem;
}
.reviews-component .review-paragraph {
  font-weight: 600;
  font-size: 1.4rem;
}
.svg-counter {
  width: 70px;
  height: 70px;
}
