.videoSection-main-container {
  background-color: #fdf2e9;
  padding: 5rem 3rem;
  margin: 6.6rem 0;
}
.video-section-header {
  font-weight: 900;
  margin-bottom: 3rem;
  font-size: 3rem;
}
.videoSection-row {
  flex-wrap: wrap;
  justify-content: center;
}
@media(width<770px){
  .videoSection-main-container{
    display: none;
  }
}