* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(181, 180, 180);
  border-radius: 4px;
}
@font-face {
  font-family: 'TripRegular';
  src: local('TripRegular'), url(./Trip-Sans-Font/trip-sans.otf);
}

@font-face {
  font-family: 'TripBold-900';
  src: local('TripBold-900'), url(./Trip-Sans-Font/trip-sans-bold.otf);
}
@font-face {
  font-family: 'TripBold-700';
  src: local('TripBold-700'), url(./Trip-Sans-Font/trip-sans-medium.otf);
}
@font-face {
  font-family: 'TripBold-600';
  src: local('TripBold-600'), url(./Trip-Sans-Font/trip-sans-variable.ttf);
}
